<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <link rel="icon" href="https://fav.farm/✅"/>
    <title>Todos</title>
</head>
<body class="container">
<main>

    <article>
        <hgroup>
            <h1>Todos</h1>
            <h2>What needs to be done?</h2>
        </hgroup>
        <form hx-post="/add-todo" hx-swap="beforeend" hx-target="#todo-list">
            <label for="new-todo-title">
                What needs doing?
                <input id="new-todo-title" name="new-todo-title" type="text" placeholder="What needs to be done?">
            </label>
            <button type="submit">Submit</button>
        </form>
    </article>

    <div class="grid">
        <article>
            <hgroup>
                <h2>Your todos</h2>
                <p>Getting bored, get one of these done.</p>
            </hgroup>

            <ul id="todo-list">
                {{ range .Todos }}
                {{ block "todo-item" . }}
                <li>
                    <label for="{{ .Title }}">
                        <input type="checkbox" id="{{ .ID }}" {{if .Completed}}checked{{end}} hx-post="/toggle-todo"/>
                        {{ .Title }}
                    </label>
                </li>
                {{ end}}
                {{ end}}
            </ul>

            <br>
            <button class="primary">Clear all todos</button>
        </article>

        <!--        <article>-->
        <!--            <hgroup>-->
        <!--                <h2>Archive</h2>-->
        <!--                <p>Everything you've accomplished so far</p>-->
        <!--            </hgroup>-->
        <!--            <label for="dog1">-->
        <!--                <input type="checkbox" id="dog1" name="terms">-->
        <!--                Walk the dog-->
        <!--            </label>-->
        <!--            <label for="dishes1">-->
        <!--                <input type="checkbox" id="dishes1" name="terms">-->
        <!--                Do the dishes-->
        <!--            </label>-->
        <!--            <br>-->
        <!--            <button class="secondary">Delete archived todos</button>-->
        <!--        </article>-->
    </div>
</main>

</body>
</html>
